= render '/layouts/subnav'
#about-main
  #section-about-1.subpage-title
    .container
      .row
        .col-lg-12
          %h1
            %span.title-italic A little about
            %br
            %span Scott
            %span.title-italic.large W.
            %span Gerlach
          %h2
          %img{src: '/assets/about-9-blue.jpg'}
          %p
            Scott is mild mannered fellow with a passion for exchanging ideas with thoughtful folks. He values clarification over simplification. At various points in his life he has been unmistakably obsessed with snails, lizards, snakes, bubbles, swimming, music, mathematics, tutoring, virtual smelting, rocket jumps, football strategy, gardening, and he always enjoys sharing with others.

            Scott lives in Austin, Texas under a roof with his girlfriend Cheyenne Weaver and his dog Jackson where they get up to adventures and down with the boogie.
          .center
            %button.btn.btn-block.btn-lg.btn-default{href: "#", target:"_blank"}
              View Scott Gerlach's Résumé
  #about2.anchor
    #section-about-2
      .container
        %h1
          %span Presenting
          %br
          %span.title-italic with an informed, confident
          %br
          %span Perspective
        %h2
          %span Voice
    #section-about-2-photo.photo
      .container
        .row
          .col-lg-12
            %img#scott-presenting{src: 'assets/scott_presenting.jpg'}
        .row
          .col-lg-12
            %p
              My background as an educator in math and science is very helpful in presentations and discussions: enabling me to be present in the moment and engage questions with appropriate examples and elaboration.
        .spaced
        .row
          .col-lg-4
            .trans-block
              %h3
                Published Articles
              %p
                Football writing has exposed me to variety of mediums.  I've written several articles for college football annual magazines and I'm very comfortable with longform narratives.
          .col-lg-8
            %img#mag-img{src: '/assets/about-6-bw.png'}
        .spaced
        .row
          .col-lg-8
            %iframe{src: "//player.vimeo.com/video/81353861?color=436AE1", width: "750", height: "422", frameborder:"0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
          .col-lg-4
            .trans-block
              %h3
                IxDA Application
              %p
                I think being able to verbalize the different aspects of the design process and their importance is a crucial part of bringing credibility to your ideas.


    .mids
      .container
        .row
          .col-lg-6
            .row
              .col-lg-12
                %img#ac4d-logo{src: '/assets/social-icons/logo_ac4d-navy.png'}
            .row
              .col-lg-10.col-lg-offset-1
                .quote-block
                  "As a designer externalizes subjective ideas and iteratively layers new explorations on top of each other, the designer creates a dialog with the system that allows for experimentation within constraint.  This type of problem solving is non-linear and highly subjective but as the system gains definition it takes on a nature that the designer is able to balance his/her decisions against.  In this sense, design is the less about problem solving and more about solution articulation."
                  %a{href: "http://www.ac4d.com/2014/04/09/building-a-pragmatic-definition-for-sensemaking/", target: "_blank"}
                    Read the blog post
          .col-lg-6
            .row
              .col-lg-10.col-lg-offset-1
                .info-block
                  The search for a salient narrative through complex and conflicting ideas is at the heart of the design process.  During the 1-year course at the Austin Center for Design, I kept a blog about the experience.  The blog served as a framework for me to compose my thoughts into a cohesive set of arguments as well as pushing me to synthesize deeper insights into a topic.
                .center
                  %button.btn.btn-block.btn-lg.btn-default{href: "http://www.ac4d.com/home/people/students-and-alumni/scott-gerlach/", target:"_blank"}
                    Visit the AC4D blog

  #about3.anchor
    #section-about-3
      .container
        .col-lg-12
          %h1
            %span.title-italic Studying the fine
            %br
            %span Details
            %br
            %span.title-italic to abstract the general
            %br
            %span Patterns
          %h2
            %span Analysis
    #section-about-3-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/about-4.jpg'}
        .spaced
        .row
          .col-lg-6
            .row
              .col-lg-10
                %img{src: '/assets/about-3.jpg'}
          .col-lg-6
            .trans-block
              %h3
                Thinking Texas Football
              %p
                Realizing that the type of publication that we wanted just didn't exist, we created an ebook that would cover the Texas Longhorns.  In addition to contributing a third of the content, I also designed and published the ebook using inDesign.
              %span co-authors: Jason Chilton & Paul Wadlington
        .spaced
        .row
          .col-lg-8
            %iframe{width: "750", height: "422", src: "//player.vimeo.com/video/68139958", frameborder: "0", allowfullscreen: true}
          .col-lg-4
            .trans-block
              %h3
                Video Breakdowns
              %p
                Through iteration I have found that video with graphical overlay is a very effective way of sharing insight about complex action.




    .mids
      .container
        .row
          .col-lg-6
            .row
              .col-lg-10.col-lg-offset-1
                %img#swgerlach-logo{src: '/assets/social-icons/swgerlach-navy.png'}
                .quote-block
                  "The philosophical and tactical changes the Longhorns are making on offense come with their share of benefits and constraints. This is decidedly not just an overclocked version of the offense we’ve run for the past two seasons. Instead, it’s an entirely different approach that happens to make use of many of the same concepts."
                  %a{ href: "http://www.barkingcarnival.com/2013/5/27/4369174/spring-clinging-a-primer", target: "_blank"}
                    Read the blog post
          .col-lg-6
            .row
              .col-lg-10.col-lg-offset-1
                .info-block
                  Over the last decade I've developed a voice as a technical analyst of college football.  I'm a contributor to a smart, insightful blog that has a wide and devoted following.  The blog, Barking Carnival, has been a great format for me to explore format, tone, and depth of complex analysis for a general audience.  Through the use of video, graphics, and detailed blog posts, I’ve been able to adapt my approach from tutoring and apply it to football to make many of the hidden aspects of the game more accessible for everyday fans.
                .center
                  %button.btn.btn-block.btn-lg.btn-default
                    Visit the Barking Carnival blog





  #about4.anchor
    #section-about-4
      .container
        %h1
          %span Pushing
          %span.title-italic for
          %span Growth
          %br
          %span.title-italic and actively seeking
          %br
          %span Guidance
          %span.title-italic and
          %span Critique
        %h2
          %span Mentorship
    #section-about-4-photo.photo
      .container
        .row
          .col-lg-7
            %img{id:'mentoring-kolko', src: '/assets/about-mentorship.jpg'}
            .credit-box
              Jacob Rader
          .col-lg-5
            .trans-block
              %h3
                Valuing Critique
              %p
                Thoughtful critique is one of the things I value most from other people: in design and in life.   During my time at the Austin Center for Design, the faculty did a tremendous job of offering critique at every stage.  It made plain to me how motivating and exciting it is to work in a creative environment where insightful people feel free to share their thoughts.  It's crucial to me to find a professional environment that both offers and encourages regular mentorship and critique.
        .spaced
        .row
          .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3
            %img#alc-logo{src: '/assets/ALC_logo.png'}
          .col-lg-8.col-md-12
            .trans-block
              %h3
                Tutoring
              %p
                Working one on one with thousands of students in my ten years as a tutor taught me a great deal about how to engage in interactions that encourage growth and realization.  The linear thinking and abstract reasoning demanded by math and physics result in radically different modes of comprehension from person to person.  I found over time as I explored different articulations with many different students that there was often a way of providing enough structure for someone to naturally orient toward methods that made sense to them.
        .spaced
        .row
          .col-lg-7
            #factoring
              %iframe{src: "//player.vimeo.com/video/61766941?color=436AE1", width: "653", height: "367", frameborder:"0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true}
          .col-lg-5
            .trans-block
              %h3
                Iterative Technique
              %p
                I think mastery is evidenced by the ability to design a reliable understanding of a subject for others. After hundreds of iterations, I can only claim to have designed a handful of explanations in high school math and physics built on traditional techniques where I have found small gaps for improvement.





    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
          %br
          %span.pull-right - John Dewey
          %br

