.container-fluid
  #skrollr-body
    .row
      #home
        #section-1
          .container
            %h1 IxD
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        .container{'data-300'=>'opacity: 0.2', 'data-400'=>'opacity: .5', }
          %p.tight
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        #section-2
          .container
            %h1 About
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        .container{'data-1400'=>'opacity: 0.2', 'data-1500'=>'opacity: .5' }
          %p.tight
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        #section-3
          .container
            %h1 Research
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        .container{'data-2500'=>'opacity: 0.2', 'data-2700'=>'opacity: .5' }
          %p.tight
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        #section-4
          .container
            %h1 Synthesis
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        .container{'data-3500'=>'opacity: 0.2', 'data-3700'=>'opacity: .5' }
          %p.tight
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.
        #section-5
          .container
            %h1 Prototyping
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere ac nisi a venenatis. Sed condimentum quam eget convallis tempor. Proin scelerisque tellus non nunc molestie, et pharetra risus congue. Nam malesuada, sem eu bibendum lobortis, tortor arcu vehicula orci, nec iaculis orci ipsum ut lorem. Morbi at ante in sem luctus aliquam. Pellentesque bibendum mauris eros. Ut tempus risus id magna dapibus sodales.





