= render '/layouts/subnav'

#prototyping-main
  #prototyping1.anchor
    #section-prototyping-1.subpage-title
      .container
        .col-lg-12
          %h1
            %span.title-italic Physically manifest ideas...
            %br
            %span Make something

          %h2
            %span Sketching & Mapping
    #section-prototyping-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/sketches/faces.jpg'}
        .row
          .col-lg-12
            %h3 Concept Maps and System Diagrams
        .row
          .col-lg-6
            %img.spaced{src: '/assets/prototyping-3.png'}
          .col-lg-6
            %img.spaced{src: '/assets/prototyping-3b.png'}
        .row
          .col-lg-12
            .trans-block
              %p
                Visual representations of an entire system (above) bring focus to design priorities and encourage me focus on the most important aspects of the system in the initial designs (below).
          .col-lg-4.col-lg-offset-1
            %img.spaced{src: '/assets/sketches/therm-1.png'}
          .col-lg-4.col-lg-offset-2
            %img.spaced{src: '/assets/sketches/therm-2.png'}
        .row
          .col-lg-12
            %h3 Storyboards
            .trans-block
              %p
                Storyboards help me explore the affective aspects and emotional context of an idea.  They are also effective at visually communicating the core concept to others.  Visual representations make it easier to emotionally project ourselves and others into a new idea.
        .row
          .col-lg-12
            %img.spaced{src: '/assets/current-system-storyboard.png'}
          .col-lg-12
            %img.spaced{src: '/assets/proposed-system-storyboard.png'}




    .mids
      .container
        .row
          .col-lg-12
            %p.tight
              "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"

  #prototyping2.anchor
    #section-prototyping-2
      .container
        %h1
          %span Detatch
          %br
          %span.title-italic from new designs and
          %br
          %span Ground
          %span.title-italic them
          %br
          %span.title-italic in
          %span Reality
          %br
        %h2
          %span Testing & Feedback
    #section-prototyping-2-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/testing-3.jpg'}
        .row
          .col-lg-6
            %img.spaced{src: '/assets/testing-1.jpg'}
          .col-lg-6
            .trans-block
              %p
                As a design grows from research implications to concept to prototypes, it's crucical to get the idea in front of people and validate the concept, content, and usability through testing.  Testing techniques should be based on the stage and needs of the project.
        .row
          .col-lg-8
            %img.spaced{src: '/assets/testing-10.jpg'}
          .col-lg-4
            %img.spaced{src: '/assets/testing-4-tall.jpg'}

        .row
          .col-lg-12
            .trans-block
              %h3
                Paper Prototyping
              %p
                I create low tech prototypes that allow me to put ideas in front of users to test the most important interactions very early in the prototyping process.  Rapid prototyping is most effective with this sort of feedback early and often because it helps me avoid major problems before they have become integral parts of the design.
        .row
          .col-lg-6
            %img.spaced{src: '/assets/testing-5.jpg'}
          .col-lg-6
            %img.spaced{src: '/assets/testing-9.jpg'}

    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"

  #prototyping3.anchor
    #section-prototyping-3
      .container
        %h1
          %span Refine
          %span.title-italic,
          %br
          %span Repurpose
          %span.title-italic,
          %br
          %span.title-italic and
          %span Redraft
          %span.title-italic,
          %br
          %span.title-italic until you find a relevant
          %br
          %span Articulation
        %h2
          %span Rapid Iteration
    #section-prototyping-3-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/prototyping-main.png'}
        .row
          .col-lg-12
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.



    .mids
      .container
        .row
          .col-lg-5
            .trans-block
              %h3
                An Interactive Prototype
              %p
                High fidelity, interactive prototypes more clearly convey the interactions that are integral to the character of the design.
              %span
                Built using HTML, CSS3, JQuery, and custom Javascript
          .col-lg-7
            = render 'therm'



    #section-prototyping-4-photo.photo
      .container
        .row
          .col-lg-12
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales.
          .col-lg-10.col-lg-offset-1
            %img.wide-spaced{src: '/assets/prototyping-10.jpg'}
    .mids
      .container
        .row
          .col-lg-12
            .trans-block
              %h3 One day website redesign

        .row
          .col-lg-12
            %img.wide-spaced{src: '/assets/wires/akfa.png'}
        .row
          .col-lg-12
            .trans-block
              %p
                High fidelity, interactive prototypes more clearly convey the interactions that are integral to the character of the design.



    #section-prototyping-5-photo.photo
      .container
        .row
          .col-lg-12
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
        .row
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-sketches-01.png'}
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-sketches-04.png'}
        .row
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-sketches-05.png'}
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-sketches-06.png'}
        .row
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-iterations-03.png'}
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-iterations-04.png'}
        .row
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-iterations-05.png'}
          .col-lg-6
            %img.wide-spaced{src: '/assets/wires/new-iterations-06.png'}
    .mids
      .container
        .row
          .col-lg-12
            .trans-block
              %h3
                High Fidelity Comps
        .row
          .col-lg-12
            %img.spaced{src: '/assets/wires/mockup-1.png'}
        .row
          .col-lg-12
            .trans-block
              %p
                High fidelity, interactive prototypes more clearly convey the interactions that are integral to the character of the design.