= render '/layouts/subnav'

#research-main
  #research1.anchor
    #section-research-1.subpage-title
      .container
        .col-lg-12
          %h1
            %span.title-italic Actively
            %br
            %span learning
            %br
            %span.title-italic from
            %span people
            %span.title-italic in their
            %br
            %span environments
          %h2
            %span Contextual Inquiry
    #section-research-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/research-1.jpg'}
        .row
          .col-lg-8
            .trans-block
              %h3
                Project Brief
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
          .col-lg-4
            %img.spaced{src: '/assets/research-2.jpg'}
        .row
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.
          .col-lg-8
            %img.spaced{src: '/assets/research-3.jpg'}
    .mids
      .container
        .row
          .col-lg-12
            %p.tight
              "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"

  #research2.anchor
    #section-research-2
      .container
        %h1
          %span.title-italic Uncovering the
          %br
          %span cultural norms
          %span.title-italic and
          %span heuristics
          %br
          %span.title-italic that persist within a system
          %br
          %span.title-italic by
          %span immersing
          %span.title-italic yourself.
        %h2
          %span Embedding
    #section-research-2-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/research-4-opt.jpg'}
        .row
          .col-lg-8
            %img.spaced{src: '/assets/research-6-opt.jpg'}
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.
        .row
          .col-lg-4
            %img.spaced{src: '/assets/research-5-opt.jpg'}
          .col-lg-8
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.

    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
  #research3.anchor
    #section-research-3
      .container
        %h1
          %span exchanges
          %span.title-italic of
          %br
          %span ideas
          %span.title-italic   that give
          %span Voice
          %span.title-italic to
          %br
          %span.title-italic personal
          %span Expertise
        %h2
          %span Interviews & Intercepts
    #section-research-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/research-7-opt.jpg'}
        .row
          .col-lg-4
            %img.spaced{src: '/assets/research-9-crop-opt.jpg'}
          .col-lg-8
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
        .row
          .col-lg-8
            %img.spaced{src: '/assets/research-8-opt.jpg'}
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.


    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
