= render '/layouts/subnav'

#research-main
  #research1.anchor
    #section-research-1.subpage-title
      .container
        .col-lg-12
          %h1
            %span.title-italic Actively
            %br
            %span learning
            %br
            %span.title-italic from
            %span people
            %span.title-italic in their
            %br
            %span environments
          %h2
            %span Contextual Inquiry
    #section-research-1-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/research-1.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-8
              .trans-block
                %p.no-border
                  Contextual Inquiry, the heart of design research, is the act of putting yourself in an environment with the intent of investigating and observing behavior.  The underlying assumption is that there are things you can learn from people in context that they are unlikely to tell you in conversation.  By going through activities with them and letting them actively teach me about themselves, I am able to see meaningful behavior in action rather than in hypothetical.  Furthermore, my intuitive understanding of a person and the environment they are a part of is greatly enriched through this technique.
            .col-lg-4
              %img{src: '/assets/research-2.jpg'}
              .credit-box
                Jacob Rader
        .row
          .spaced
            .col-lg-4
              #food-identity.white-block
                %h3
                  Food & Identity
                %p
                  Design research focused on how food behavoir and identity shape each other in East Austin and broader implications for food interactions.
                  %a{href: '/Food-and-Identity.pdf', target: '_blank'} Read more
                  %br
                  %br
                .row
                  .col-lg-12
                    %span.small-block-bottom
                      %span.border-bottom Collaborators
                      %br
                      %b Bhavini Patel
                      %br
                      %b Jacob Rader
            .col-lg-8
              %img{src: '/assets/research-3.jpg'}
              .credit-box
                Jacob Rader
    .spaced
    .mids
      .container
        .row
          .col-lg-12
            %p.tight
              "By connecting with people and engaging in activities that facilitate empathy and understanding with their behavior, we inform our intuitions much more richly than we would through statistical models, abstract principles, or academic exercises.  Design research is meant to provoke new ideas and creative problem solving.  And it’s in the complex, interwoven, and often self contradictory nature of specific human interactions that we are most likely to provoke ourselves toward innovative understandings.  So the drive to relate to people isn’t just an empathetic exercise, it’s a practical primer for building new mental connections."
              %br
              %a.pull-right{href: 'http://www.ac4d.com/2014/03/04/design-in-healthcare-improving-support-during-recovery/', target: '_blank'} Read more
              %br
  #research2.anchor
    #section-research-2
      .container
        %h1
          %span.title-italic Uncovering the
          %br
          %span cultural norms
          %span.title-italic and
          %span heuristics
          %br
          %span.title-italic that persist within a system
          %br
          %span.title-italic by
          %span immersing
          %span.title-italic yourself.
        %h2
          %span Embedding
    #section-research-2-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/research-4-opt.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-6
              .trans-block
                %p.no-border
                  Qualitative research is highly subjective.  The end goal is not verification: it’s to inform and provoke the designer.  As such, when time and access allows, I try to embed: putting myself right in the middle of the systems and interactions on which the research is focused.

            .col-lg-6
              %img{src: '/assets/research-6-opt.jpg'}
              .credit-box
                Jacob Rader
        .row
          .spaced
            .col-lg-4
              %img{src: '/assets/research-5-opt.jpg'}
              .credit-box
                Jacob Rader
            .col-lg-8
              .white-block
                %h3
                  Opportunities in Healthcare
                %p
                  Qualitative research focused on how patients and medical professionals interact with each other and in which ways the documentation and artifacts created in that process affect the care given and received, respectively.  A specific interest in studying this topic through the lens of patients who are at risk due to insufficient insurance and access to care as well as people who face challenges like chronic or concurrent health issues.
                  %a{href: 'http://www.ac4d.com/2013/12/21/health-records-reflections-and-opportunities/', target: '_blank'} Read more
                  %br
                  %br
                .row
                  .col-lg-12
                    %span.small-block-bottom
                      %span.border-bottom
                        %b Collaborators
                      %br
                      Bhavini Patel
                      %br
                      Jacob Rader
    .spaced
    .mids
      .container
        %p.tight
          "Intuitive understanding of an existing system, while inherently incomplete, allows for a designer to begin making lateral jumps and experimenting with new strategies.  This intuitive understanding is best developed by tapping into the tacit knowledge and behaviors of people who are directly affected by the system."
          %br
          %a.pull-right{href: 'http://www.ac4d.com/2014/04/09/building-a-pragmatic-definition-for-sensemaking/', target: '_blank'} Read more
          %br
  #research3.anchor
    #section-research-3
      .container
        %h1
          %span exchanges
          %span.title-italic of
          %br
          %span ideas
          %span.title-italic   that give
          %span Voice
          %span.title-italic to
          %br
          %span.title-italic personal
          %span Expertise
        %h2
          %span Interviews & Intercepts
    #section-research-1-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/research-7-opt.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-8
              .trans-block
                %p.no-border
                  While conducting interviewers I try to adopt an active and curious empathetic state.  I find this requires complex emotional and analytical attention: I attempt to quickly relate to another point of view by scaffolding a mental framework that gives enough structure to the conversation that it remains relevant to the research topic while also being flexible enough to allow for divergence and unexpected insight.
            .col-lg-4
              %img{src: '/assets/research-9-crop-opt.jpg'}
              .credit-box
                Jacob Rader
    .spaced
    .mids
      .container
        %p.tight
          “How many times do you get a blinding insight out of your own head? You get to blinding insight when you listen to somebody and take that little snippet of logic or data or whatever, merge it with something that is in your head and—whammo—out comes a new interesting thought. That is where the out-of-the-box ideas come from, and you systematically prevent yourself from getting there by being dismissive of users, dismissive of clients, dismissive of colleagues who don’t agree with you.”
          %br
          %span.pull-right - Roger Martin
          %br
