= render '/layouts/subnav'

#synthesis-main
  #synthesis1.anchor
    #section-synthesis-1.subpage-title
      .container
        .col-lg-12
          %h1
            %span.title-italic Transforming the data into forms that are
            %br
            %span Physical
            %span.title-italic and
            %span Mutable
          %h2
            %span Externalization
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/synthesis-1.jpg'}
        .row
          .col-lg-8
            .trans-block
              %h3
                Project Brief
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
          .col-lg-4
            %img.spaced{src: '/assets/synthesis-3-tall-alt.jpg'}
        .row
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.
          .col-lg-8
            %img.spaced{src: '/assets/synthesis-2.jpg'}
    .mids
      .container
        .row
          .col-lg-12
            %p.tight
              "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
  #synthesis2.anchor
    #section-synthesis-2
      .container
        %h1
          %span.title-italic Questioning the latent
          %br
          %span Motivations
          %span.title-italic and
          %br
          %span Broad Themes
          %span.title-italic implied
          %br
          %span.title-italic by observed
          %span Behavior

        %h2
          %span Narrative
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/synthesis-4.jpg'}
        .row
          .col-lg-4
            %img.spaced{src: '/assets/synthesis-5-tall.jpg'}
          .col-lg-8
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
        .row
          .col-lg-8
            %img.spaced{src: '/assets/synthesis-6.jpg'}
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.

    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
  #synthesis3.anchor
    #section-synthesis-3
      .container
        %h1
          %span Provocative
          %br
          %span.title-italic statements of
          %span Truth
          %br
          %span.title-italic that may be wrong, but inform a
          %br
          %span New Approach

        %h2
          %span Insights & Implications
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img.spaced{src: '/assets/synthesis-7.jpg'}
        .row
          .col-lg-4
            .white-block
              %h3
                More things
              %p
                Pellentesque iaculis justo id venenatis dignissim. Integer erat ante, auctor nec lacus ut, sollicitudin dapibus ipsum. Mauris eu eleifend dolor.
          .col-lg-8
            %img.spaced{src: '/assets/synthesis-8.jpg'}
        .row
          .col-lg-8
            .trans-block
              %h3
                Killer Filler
              %p
                ullam condimentum eleifend justo vitae aliquam. Cras magna lacus, elementum sit amet vulputate nec, euismod nec massa. Sed consequat libero et felis egestas, id varius mi sodales. Etiam sit amet lectus mauris. Nullam dictum leo eget risus hendrerit eleifend. Fusce sodales dui ac turpis placerat cursus. Donec at eros neque. Phasellus tristique dui mauris, at luctus nisl fermentum suscipit.
          .col-lg-4
            %img.spaced{src: '/assets/synthesis-9-tall-alt.jpg'}

    .mids
      .container
        %p.tight
          "Each experience is a moving force.  Its value can be judged only on the ground of what it moves toward and into.  Experience does not simply go inside a person.  Every genuine experience has an active side which changes in some degree the objective conditions under which experiences are had.  From the standpoint of growth as education and education as growth the question is whether growth in this direction promotes or retards growth in general.  Does this form of growth create conditions for further growth, or does it set up conditions that shut out the person who has grown in this particular direction from the occasions, stimuli, and opportunities for continuing growth in new directions?"
