= render '/layouts/subnav'

#synthesis-main
  #synthesis1.anchor
    #section-synthesis-1.subpage-title
      .container
        .col-lg-12
          %h1
            %span.title-italic Transforming the data into forms that are
            %br
            %span Physical
            %span.title-italic.large &
            %span Mutable
          %h2
            %span Externalization
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/synthesis-1.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-8
              .trans-block
                %p.no-border
                  External representation of research data translates the abstract into the physical which has several important consequences.  It makes it possible for multiple people to interact with the data at the same time which fosters collaborative and comparative sense-making.  It also allows data to be easily related across all of the research which exposes patterns and outliers.  Perhaps most importantly, it creates a perceptual layer between the sense-maker and the data which enables the sense-maker to quickly experiment with different interpretations and judgements.
            .col-lg-4
              %img{src: '/assets/synthesis-3-tall-alt.jpg'}
              .credit-box
                Jacob Rader
    .mids
      .container
        .row
          .col-lg-12
            %p.tight
              "Designers make sense by acting thinkingly, which means that they simultaneously interpret their knowledge with trusted frameworks, yet mistrust those very same frameworks by testing new frameworks and new interpretations. The underlying assumption in each case is that ignorance and knowledge coexist, which means that adaptive sensemaking both honors and rejects the past."
              %br
              %span.pull-right -  Karl Weick, et al.
              %br
  #synthesis2.anchor
    #section-synthesis-2
      .container
        %h1
          %span.title-italic Questioning the latent
          %br
          %span Motivations
          %span.title-italic and
          %br
          %span Broad Themes
          %span.title-italic implied
          %br
          %span.title-italic by observed
          %span Behavior

        %h2
          %span Narrative
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/synthesis-4.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-4
              .trans-block
                %p.no-border
                  As research data is manipulated, behavioral themes emerge.  The sense-maker begins to hypothesize about implied motivations and make abductive leaps in order to interpret the specific data in a much broader human context.
            .col-lg-8
              %img{src: '/assets/synthesis-6.jpg'}
              .credit-box
                Jacob Rader

    .mids
      .container
        %p.tight
          "A scientific hypothesis is not the same as a design hypothesis.  A logical proposition is not to be mistaken for a design proposal.  Speculative design cannot be determined logically, because the mode of reasoning involved is essentially abductive."
          %br
          %span.pull-right - Nigel Cross
          %br
  #synthesis3.anchor
    #section-synthesis-3
      .container
        %h1
          %span Provocative
          %br
          %span.title-italic statements of
          %span Truth
          %br
          %span.title-italic that may be wrong, but inform a
          %br
          %span New Approach

        %h2
          %span Insights & Implications
    #section-synthesis-1-photo.photo
      .container
        .row
          .col-lg-12
            %img{src: '/assets/synthesis-7.jpg'}
            .credit-box
              Jacob Rader
        .row
          .spaced
            .col-lg-9
              .trans-block
                %p.no-border
                  As the sense-maker considers the interconnected and often contrary themes across their research, they begin to ask themselves, “Why?”.  Why is this person doing this specific thing?  Why is this context important?  Why are people behaving in this way?  As these questions are pushed toward broader scopes and the sense-maker layers in their own background and perspective: new connections are bridged in their understanding of the world.  These speculative insights and implications are opportunities and provocations for design.
            .col-lg-3
              %img{src: '/assets/synthesis-9-tall-alt.jpg'}
              .credit-box
                Jacob Rader

    .mids
      .container
        %p.tight
          "The designers who can solve the most wicked problems do it through collaborative integrative thinking, using abductive logic, which means the logic of what might be."
          %br
          %span.pull-right - Roger Martin
          %br

