#ttf-main.container
  %h1 Thinking Texas Football
  <a href="http://www.amazon.com/gp/product/B00M4QCYCU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00M4QCYCU&linkCode=as2&tag=httpwwwscottg-20&linkId=KP4KOHIINHT24QLD"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00M4QCYCU&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=httpwwwscottg-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=httpwwwscottg-20&l=as2&o=1&a=B00M4QCYCU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><script type="text/javascript" src="http://wms-na.amazon-adsystem.com/20070822/US/js/link-enhancer-common.js?tag=httpwwwscottg-20&linkId=D6YT2QRNGVTJ5CJO"></script>
  <noscript><img src="http://wms-na.amazon-adsystem.com/20070822/US/img/noscript.gif?tag=httpwwwscottg-20&linkId=D6YT2QRNGVTJ5CJO" alt="" /></noscript>



  %p Welcome to the second annual 2014 Longhorn Football Prospectus: Thinking Texas Football.

  %p This book is a Texas football preview, a season companion and reference guide, and a resource for the entire football season. Our goal is to present a rational, insightful and entertaining assessment of an exciting new era of Longhorn Football. We also want to dive into Texas’ opponents and the Big 12 Conference as a whole, while imparting a more comprehensive and deeper understanding of the game that will help you enjoy game day, and our Longhorns, all the more.

  %p We wrote this guide because we believe it fills an important, underserved niche in the market. Like many passionate football fans reading regional or national publications, we realized that we knew more about our team and conference than the “experts.” And most of their previews might better be termed “historicals” - as they are written in April for June publication. We targeted an August release to include the most recent developments: transfers, injuries, off-season intelligence, and staff hires.

  %p Local media vary widely in talent and intellectual curiosity and even the best of them are constrained by the need to fit formulae into a 800 word column, catering to sports section readers that their editors believe operate at a 8th grade reading level. Thinking Texas Football, in deference to its name, is written for an intelligent football layperson. We won’t insult you by writing down to the lowest common denominator nor will we try to overawe you with technical babble.

  %p The internet has several fantastic resources - public and pay - but they (where we write included) serve a reactive news cycle and rarely have the chance to be comprehensive and develop deeper themes. It’s the difference between books and newspapers. We like both.

  %p Our best ambition is to provide you with different tools - while plainly communicating an awareness of our own biases and blind spots - so that we can drive a conversation that mutually enriches our shared passion.

  %p If you like it, tell a friend. If you really like it, buy several and send it to all of your friends. We hope they’ll appreciate it as much as we do.

  %p Hook ‘em!
  %p - Paul, Jason, Scott
