.subpage-nav
  %ul
    %li.about-li{data: {target: '#about2'}}
      %a{ href: about_path(anchor: 'section-about-2')}
        %img{class: 'svg', src:'assets/icons/svg/icon-microphone.svg'}
      .note
        Voice
        .triangle
    %li.about-li{data: {target: '#about3'}}
      %a{ href: about_path(anchor: 'section-about-3')}
        %img{class: 'svg', src:'assets/icons/svg/icon-microscope.svg'}
      .note
        Analysis
        .triangle
    %li.about-li{data: {target: '#about4'}}
      %a{ href: about_path(anchor: 'section-about-4')}
        %img{class: 'svg', src:'assets/icons/svg/icon-plants.svg'}
      .note
        Mentorship
        .triangle
    %li.research-li{data: {target: '#research1'}}
      %a{ href: research_path(anchor: 'section-research-1')}
        %img{class: 'svg', src:'assets/icons/svg/icon-camera.svg'}
      .note
        Contextual Inquiry
        .triangle
    %li.research-li{data: {target: '#research2'}}
      %a{ href: research_path(anchor: 'section-research-2')}
        %img{class: 'svg', src:'assets/icons/svg/icon-backpack.svg'}
      .note
        Embedding
        .triangle
    %li.research-li{data: {target: '#research3'}}
      %a{ href: research_path(anchor: 'section-research-3')}
        %img{class: 'svg', src:'assets/icons/svg/icon-signpost.svg'}
      .note
        Interviews
        .triangle
    %li.synthesis-li{data: {target: '#synthesis1'}}
      %a{ href: synthesis_path(anchor: 'section-synthesis-1')}
        %img{class: 'svg', src:'assets/icons/svg/icon-pushpin.svg'}
      .note
        Externalization
        .triangle
    %li.synthesis-li{data: {target: '#synthesis2'}}
      %a{ href: synthesis_path(anchor: 'section-synthesis-2')}
        %img{class: 'svg', src:'assets/icons/svg/icon-book.svg'}
      .note
        Narrative
        .triangle
    %li.synthesis-li{data: {target: '#synthesis3'}}
      %a{ href: synthesis_path(anchor: 'section-synthesis-3')}
        %img{class: 'svg', src:'assets/icons/svg/icon-lightbulb.svg'}
      .note
        Insight
        .triangle
    %li.prototyping-li{data: {target: '#prototyping1'}}
      %a{ href: prototyping_path(anchor: 'section-prototyping-1')}
        %img{class: 'svg', src:'assets/icons/svg/icon-pen.svg'}
      .note
        Sketching
        .triangle
    %li.prototyping-li{data: {target: '#prototyping2'}}
      %a{ href: prototyping_path(anchor: 'section-prototyping-2')}
        %img{class: 'svg', src:'assets/icons/svg/icon-testtubes.svg'}
      .note
        Testing & Feedback
        .triangle
    %li.prototyping-li{data: {target: '#prototyping3'}}
      %a{ href: prototyping_path(anchor: 'section-prototyping-3')}
        %img{class: 'svg', src:'assets/icons/svg/icon-lightningbolt.svg'}
      .note
        Rapid Iteration
        .triangle